<div aria-live="polite" class="sr-only">{{liveMessage}}</div>

<dialog #dialog
        (click)="backgroundClose($event)"
        (keydown)="closeOnEscape($event)"
        [attr.aria-label]="label"
        aria-modal="true"
        class="relative bg-white rounded-lg shadow-lg p-6 w-full max-w-md mx-auto my-12 overflow-hidden max-h-[90vh]"
        id="dialog"
        role="dialog">
  <div class="flex justify-end">
    <button #closeButton (click)="close()"><span class="sr-only">Close dialog</span>x</button>
  </div>
  <div class="relative overflow-y-auto max-h-[82vh]">
    <ng-content select="[header]"></ng-content>
    <ng-content select="[body]"></ng-content>
    <ng-content select="[footer]"></ng-content>
  </div>
  <button #lastElement
          (click)="focusOnFirstElement()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded absolute left-[calc(-100vw-100px)] focus:left-0 focus:bottom-0">
    <span class="sr-only">Go to beginning</span><span aria-hidden="true">^</span></button>
</dialog>
