<button (click)="openDialog()">Add Delivery Address</button>

<div *ngIf="isOpen" class="fixed inset-0 z-0 bg-black bg-opacity-50" tabindex="-1" (click)="toggleDialog()"></div>

<div *ngIf="isOpen" id="dialog_layer" class="dialogs" (keydown)="action($event)">
  <div role="dialog" id="dialog1" aria-labelledby="dialog1_label" aria-modal="true" [ngClass]="{'hidden': !isOpen}">
    <button (click)="toggleDialog()">x</button>
    <ng-content select="[header]"></ng-content>
    <ng-content select="[body]"></ng-content>
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
