<div class="fixed inset-0 -z-10 bg-black bg-opacity-50" tabindex="-1" (click)="close()"></div>

<div id="dialog_layer" class="dialogs" (keydown)="closeOnEscape($event)">
  <div #dialog role="dialog" id="dialog" aria-labelledby="dialog1_label" aria-modal="true">
    <div class="flex justify-end">
      <button #closeButton (click)="close()">x</button>
    </div>
    <ng-content select="[header]"></ng-content>
    <ng-content select="[body]"></ng-content>
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
