<section aria-label="Highlighted Attractions" aria-roledescription="carousel"  >
  <div class="controls">
    <button [ngClass]="{'pause' : isPause, 'play': !isPause}"
            class="rotation"
            (click)="isPause.next(!isPause.value)"
            type="button">
      <span class="sr-only">
        {{pauseButtonLabel}}
      </span>
      <svg class="svg-play" height="34" version="1.1" width="42" xmlns="http://www.w3.org/2000/svg">
        <title></title>
        <rect class="background" height="24" rx="5" ry="5" width="38" x="2" y="2"></rect>
        <rect class="border" height="20" rx="5" ry="5" width="34" x="4" y="4"></rect>
        <polygon class="pause" points="17 8 17 20"></polygon>
        <polygon class="pause" points="24 8 24 20"></polygon>
        <polygon class="play" points="15 8 15 20 27 14"></polygon>
      </svg>
    </button>
    <div class="tab-wrapper">
      <div aria-label="Slides">
        <button (focus)="activate()"
                *ngFor="let slide of carouselItems"
                aria-controls="{{getIdRef(slide.id)}}"
                aria-label="Slide X"
                aria-selected="false"
                tabindex="-1">
          <svg height="34" version="1.1" width="34" xmlns="http://www.w3.org/2000/svg">
            <circle class="border" cx="16" cy="15" r="10"></circle>
            <circle class="tab-background" cx="16" cy="15" r="8"></circle>
            <circle class="tab" cx="16" cy="15" r="6"></circle>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!--  where all the slides live on-->
  <!--  e.g., "Slide 1 of 6"-->
  <div [attr.aria-live]="handleSlidesAnnouncement()" aria-label="x of Y" aria-roledescription="slide">
    <!--slide content goes here-->
  </div>
</section>
