<section aria-label="Highlighted Attractions" aria-roledescription="carousel">
  <div class="grid gap-3 justify-items-end sm:justify-items-start sm:gap-0 sm:grid-flow-col " id="controls">
    <button (click)="isPause.next(!isPause.value)"
            [ngClass]="{'pause' : isPause.value, 'play': !isPause.value}"
            class="rotation flex justify-center items-center bg-black bg-opacity-60 rounded-md w-9 h-9 shadow-lg focus:outline-none focus:border-blue-400"
            type="button">
      <span class="sr-only">
        {{pauseButtonLabel}}
      </span>
      <svg class="w-6 h-6" fill="white" stroke="white" viewBox="0 0 24 24">
        <path *ngIf="isPause.value" d="M6 4h4v16H6zM14 4h4v16h-4z" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2"></path>
        <path *ngIf="!isPause.value" d="M18 12L6 4v16l12-8z" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2"></path>
      </svg>
    </button>
    <div class="w-100 flex center justify-content-center vw-100">
      <div aria-label="Slides"
           class="tab-wrapper bg-black bg-opacity-60 rounded-full grid py-3 sm: py-0 sm:flex sm:px-3">
        <button #slideTab
                (click)="handleSlideTabClick($event, slideTab ,slide)"
                (focus)="activate()"
                *ngFor="let slide of carouselItems"
                [attr.tabindex]="-1"
                aria-controls="{{getIdRef(slide.id)}}"
                aria-label="Slide X"
                aria-selected="false"
                class="hover:fill-blue-600">
           <span class="sr-only">
            {{slide.captionTitle}}
          </span>
          <svg height="34" version="1.1" width="34" xmlns="http://www.w3.org/2000/svg">
            <circle class="border stroke-white fill-white" cx="16" cy="15" r="10"></circle>
            <circle class="tab-background" cx="16" cy="15" r="8"></circle>
            <circle
              class="tab"
              cx="16"
              cy="15"
              r="6"></circle>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!--  where all the slides live on-->
  <!--  e.g., "Slide 1 of 6"-->
  <div [attr.aria-live]="handleSlidesAnnouncement()" aria-label="x of Y" aria-roledescription="slide">
    <!--slide content goes here-->
    <div *ngFor="let slide of carouselItems; let i = index"
         [ngClass]="{'hidden': selectedSlide != slide}"
         class="max-h-400 max-w-900 relative overflow-hidden w-full"
         aria-roledescription="slide"
         attr.aria-label="{{i + 1}} of {{carouselItems.length}}"
         id="carousel-item-{{i + 1}}"
         role="tabpanel">
      <div id="carousel-img">
        <a href="{{slide.href}}" id="carousel-img-{{i +1}}">
          <figure class="relative flex justify-center">
            <img src="{{slide.imgSrc}}" alt="{{slide.alt}}">
            <figcaption class="absolute bottom-0 left-[15%] right-[15%] text-white text-center py-5 grid gap-2 justify-items-center">
              <h3 class="text-2xl font-bold bg-opacity-60 bg-black rounded-md p-2">{{slide.captionTitle}}</h3>
              <p class="text-lg bg-opacity-60 bg-black rounded-md p-2">{{slide.captionDescription}}</p>
            </figcaption>
          </figure>
        </a>
      </div>

    </div>
  </div>
</section>
