<section aria-label="Highlighted Attractions" aria-roledescription="carousel">
  <div class="controls">
    <button [ngClass]="{'pause' : isPause.value, 'play': !isPause.value}"
            class="rotation flex justify-center items-center bg-black bg-opacity-60 rounded-md w-9 h-9 shadow-lg focus:outline-none focus:border-blue-400"
            (click)="isPause.next(!isPause.value)"
            type="button">
      <span class="sr-only">
        {{pauseButtonLabel}}
      </span>
      <svg class="w-6 h-6" fill="white" stroke="white" viewBox="0 0 24 24">
        <path *ngIf="isPause.value" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M6 4h4v16H6zM14 4h4v16h-4z"></path>
        <path *ngIf="!isPause.value" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M18 12L6 4v16l12-8z"></path>
      </svg>
    </button>
    <div class="tab-wrapper">
      <div aria-label="Slides">
        <button (focus)="activate()"
                *ngFor="let slide of carouselItems"
                aria-controls="{{getIdRef(slide.id)}}"
                aria-label="Slide X"
                aria-selected="false"
                tabindex="-1">
          <svg height="34" version="1.1" width="34" xmlns="http://www.w3.org/2000/svg">
            <circle class="border" cx="16" cy="15" r="10"></circle>
            <circle class="tab-background" cx="16" cy="15" r="8"></circle>
            <circle class="tab" cx="16" cy="15" r="6"></circle>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!--  where all the slides live on-->
  <!--  e.g., "Slide 1 of 6"-->
  <div [attr.aria-live]="handleSlidesAnnouncement()" aria-label="x of Y" aria-roledescription="slide">
    <!--slide content goes here-->
  </div>
</section>
